<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <alert ng-show="message" type="danger" close="closeAlert()"><strong>Attenzione: </strong>{{message}}</alert>
  <div class="row">
    <div class="col-sm-4">
      <h3>Informazioni Utente</h3>
      <form class="form" novalidate>
        <div class="form-group">
          <label> Nome Utente</label>
          <input type="text" class="form-control" ng-model="userdata.name"/>
        </div>
        <div class="form-group">
          <label> e-mail</label>
          <input type="email" class="form-control" ng-model="userdata.email"/>
        </div>
        <button class="btn btn-success btn-sm" type="button" ng-click="updateUser()">Aggiorna</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Account Assistant</h3>
      <form class="form" novalidate>
        <div class="form-group">
          <label> Utente</label>
          <input type="text" class="form-control" ng-model="assistant.username"/>
        </div>
        <div class="form-group">
          <label> Password</label>
          <input type="password" class="form-control" ng-model="assistant.password"/>
        </div>
        <button class="btn btn-success btn-sm" type="button" ng-click="updateAssistant()">Aggiorna</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Modifica Password</h3>
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
        <div class="form-group">
          <label>Password Corrente</label>
          <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
        </div>
        <div class="form-group">
          <label>Nuova Password</label>
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">Password must be at least 3 characters.</p>
        </div>
        <p class="help-block"> {{ message }} </p>
        <button class="btn btn-warning btn-sm" type="submit">Applica</button>
      </form>
    </div>
  </div>
</div>
