<div class="task-editor-container" ng-controller="TaskModalCtrl">
  <p>{{modal.info.a.obj}}</p>
  <pre>{{modal.info.a.desc}}</pre>
  <div class="row task-data">
    <div class="col-sm-12">
      <form class="form" novalidate>
        <div class="form-group">
          <label>Stato</label>
          <select ng-show="modal.info.obj.state" class="form-control" ng-model="modal.info.obj.state">
            <option ng-repeat="s in states">{{s}}</option>
          </select>
          <input ng-hide="modal.info.obj.state" type="text" class="form-control" disabled ng-model="modal.info.a.state">
        </div>
      </form>
      <label>Interventi</label>
      <task-item ng-repeat="t in modal.info.a.tasks" ng-model="t" readonly="modal.info.readonly"></task-item>
      <p ng-hide="modal.info.readonly" class="new-task aslink" ng-click="addItem()"><i class="fa fa-plus-circle"></i> Aggiungi un nuovo intervento</p>
    </div>
  </div>
  <i class="fa fa-th-list"></i>
  <span class="fa aslink" ng-class="{'fa-chevron-circle-down':collapsed, 'fa-chevron-circle-up':!collapsed}" ng-click="collapsed=!collapsed"></span>
  <ul collapse="collapsed">
    <li ng-repeat="p in modal.info.a.params">{{p.name}} = {{p.value}}</li>
  </ul>
</div>
