<div class="task-editor-container" ng-controller="TaskModalCtrl">
  <h1>{{modal.info.a.code}}</h1>
  <div class="row">
    <div class="col-sm-12">
      <form class="form" novalidate>
        <div class="form-group">
          <label> Stato</label>
          <select ng-show="modal.info.state" class="form-control" ng-model="modal.info.state">
            <option ng-repeat="s in states">{{s}}</option>
          </select>
          <input ng-hide="modal.info.state" type="text" class="form-control" disabled ng-model="modal.info.a.state">
        </div>
      </form>
      <task-item ng-repeat="t in modal.info.a.tasks" ng-model="t"></task-item>
    </div>
  </div>
  <hr>
  <i class="fa fa-th-list"></i>
  <span class="fa aslink" ng-class="{'fa-chevron-circle-down':collapsed, 'fa-chevron-circle-up':!collapsed}" ng-click="collapsed=!collapsed"></span>
  <ul collapse="collapsed">
    <li ng-repeat="p in modal.info.a.params">{{p.name}} = {{p.value}}</li>
  </ul>
</div>
