.login-container {
  /*margin: 0 0 0 5px;*/
  overflow: hidden;
  color: #888;
}
.login-title {
  margin-top: 10%;
  margin-bottom: -33px;
  color: yellowgreen;
  padding: 12px 24px;
  font-size: 55px;
  text-transform: uppercase;
  font-family: calibri;
  font-weight: bold;
}
.login-title > img {
  margin-top: -10px;
}

.login-band {
  background-color: yellowgreen; /* #222; darkorange;*/
  padding: 14px;
  border: #333 1px solid;
  border-radius: 6px;
}
.login-band label {
  margin-bottom: 0;
  font-weight: normal;
  font-size: small;
  color: #222;
}
.login-footer {
  padding: 20px;
  color: yellowgreen;
}
.login-form {
  padding: 0 12px;
}

