<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" ng-href="{{item.link}}" ng-click="doAction(item.action)" class="navbar-brand aslink">
        <i class="fa fa-lg" ng-class="item.icon"></i> {{item.title}}
      </a>
      <a ng-click="milk()" ng-hide="milking" class="navbar-brand aslink" ng-class="{'font-success':isAssistant(), 'font-warning':!isAssistant()}"> <i class="fa fa-lg fa-cloud-download"></i> </a>
      <a ng-show="milking" class="navbar-brand working-brand"> <i class="fa fa-lg fa-cloud"></i> </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><p class="navbar-text"><strong>{{ getCurrentUser().name }}</strong></p></li>
            <li ng-class="{active: isActive('/settings')}"><a href="/settings"><i class="fa fa-gear fa-lg"></i> Impostazioni</a></li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin"><i class="fa fa-users fa-lg"></i> Utenti</a></li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/actions')}"><a href="/actions"><i class="fa fa-bars fa-lg"></i> Eventi</a></li>
            <li><a href="https://github.com/leolmi/amonalie/issues?state=open"><i class="fa fa-github fa-lg"></i> Segnala problemi</a></li>
            <li class="divider"></li>
            <li><a class="aslink" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Esci</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
