amonalia {
  padding: 12px 12px 4px;
  background-color: #ddd;
  border-radius: 3px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  min-height: 64px;
  color:#222;
  margin: 4px 0;
  position: relative;
  display: block;
  font-size: 10px;
}

amonalia:hover {
  background-color: #fff;
  cursor: -webkit-grab;
}

.amonalia-editor-container > h1 {
  margin: 0;
}

amonalia .close {
  position: absolute;
  top: 2px;
  right: 8px;
}

.a-users {
  right: 8px;
  position: absolute;
  z-index: 4;
  top: 32px;
}

.expand-collapse {
  position: absolute;
  right: 10px;
  bottom: 4px;
  opacity: .4;
  z-index: 4;
  font-size: 16px;
}
.expand-collapse:hover {
  opacity: 1;
}

.open-details {
  position: absolute;
  background-color: transparent;
  z-index: 4;
  right: 0px;
  top: -1px;
  font-size: 16px;
  border: transparent;
  border-bottom-left-radius: 6px;
  /*border-top-right-radius: 3px;*/
  opacity: .6;
  width: 32px;
  height: 32px;
}

.open-details:hover {
  opacity: 1;
  background-color: #333;
  color: #ccc;
}




amonalia band {
  position: absolute;
  width: 70px;
  height: 70px;
  right: -1px;
  top:-1px;
  opacity: .6;
}

.task-item {
  padding: 10px;
  position: relative;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 4px;
  min-height: 52px;
}
.task-item > p {
  margin: 0;
}
.task-item-form {
  margin-top: 24px;
}
.item-state {
  position: absolute;
  right: 32px;
  font-size: 32px;
}

.new-task {
  width: 100%;
  text-align: center;
  display: block;
  color: #777;
  border: transparent 1px solid;
  padding: 12px;
}
.new-task:hover {
  color: darkorange;
  border: #eee 1px solid;
  padding: 12px;
  border-radius: 6px;
}

.a-selector {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 4px);
  height: -moz-calc(100% + 4px);
  height: -webkit-calc(100% + 4px);
  width: 64px;
  opacity: 0;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  color:#eee;
}
.a-selector > .fa {
  font-size: 50px;
  display: block;
}

.a-selector:hover {
  opacity: 1;
  background-color: #333;
}

.a-selected {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 4px);
  height: -moz-calc(100% + 4px);
  height: -webkit-calc(100% + 4px);
  width: 64px;
  background-color: #333;
  text-align: center;
  color:#eee;
}
.a-selected > .fa {
  font-size: 50px;
  display: block;
}

.list-handler-container {
  min-height: 300px;
}



.list-handler-container .nav-pills > li.active > a,
.list-handler-container .nav-pills > li.active > a:hover,
.list-handler-container .nav-pills > li.active > a:focus {
  background-color: #ed9c28;
}
