<div class="task-item" ng-class="{'btn-success':done, 'btn-warning':!done}">
  <span ng-show="collapsed" class="item-state fa" ng-class="{'fa-check':done, 'fa-ellipsis-h':!done}"></span>
  <button ng-hide="readonly" type="button" class="close" data-ng-click="delete()">&times;</button>
  <p ng-show="collapsed"><strong>{{getUserName()}}</strong> - {{getTimeDesc()}}</p>
  <p ng-show="collapsed && task.work"><small>fatta su: <strong>{{task.work}}</strong></small></p>
  <form class="task-item-form" collapse="collapsed">
    <div class="row">
      <div class="col-md-6">
        <!-- CHI -->
        <label>Chi</label>
        <!--<input type="text" class="form-control input-sm" ng-model="task.owner"/>-->
        <select class="form-control input-sm" ng-options="u._id as u.name for u in users" ng-model="task.owner">
          <option style="display:none" value="">seleziona un utente...</option>
        </select>
      </div>
      <div class="col-md-6">
        <!-- OBIETTIVO -->
        <label>Obiettivo</label>
        <select class="form-control input-sm" ng-options="t._id as t.name for t in targets" ng-model="task.target">
          <option style="display:none" value="">seleziona un obiettivo...</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- INIZIO -->
        <label>Inizio</label>
        <p class="input-group">
          <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="task.dates.start" is-open="start_opened" placeholder="non definita" datepicker-options="options" close-text="Chiudi" ng-required="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default input-sm" ng-click="open_start($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <!-- FINE -->
        <label>Fine</label>
        <p class="input-group">
          <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="task.dates.end" is-open="end_opened" placeholder="non definita" datepicker-options="options" close-text="Chiudi"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default input-sm" ng-click="open_end($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <!-- INTERVENTO SSF -->
    <label>Lavorata su</label>
    <input type="text" class="form-control input-sm" ng-model="task.work"/>
    <!-- NOTE -->
    <label>Note</label>
    <textarea class="form-control vertical input-sm" rows="2" ng-model="task.notes"></textarea>

    <button ng-hide="done" class="btn btn-primary space-before" ng-click="terminate()">Termina lavori</button>
  </form>
  <div ng-hide="readonly" class="element-footer-band" ng-click="toggle()">dettagli</div>
</div>

