<div ng-include="'components/navbar/navbar.html'"></div>
<page-bar ng-model="buttons"></page-bar>

<div class="row row-amonalie" ng-hide="context.idle">
  <ul class="nav nav-tabs nav-amonalie" ng-hide="large">
    <li ng-repeat="g in groups" role="presentation" ng-class="{active:activetab==g.title}">
      <a href class="aslink" ng-class="g.style" ng-click="selectTab(g.title)">{{g.title}}</a>
    </li>
  </ul>
  <div ng-repeat="g in groups" class="col-sm-3 amonalie-container" ng-class="{notab:large}"
       ng-show="large || activetab==g.title" data-drop="true" data-jqyoui-options jqyoui-droppable="{beforeDrop: 'beforeDrop(g)'}">
    <amonalie-container ng-model="g" amonalies="context.amonalies" showtitle="large"></amonalie-container>
  </div>
</div>
<waiting ng-show="context.idle"></waiting>
