.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: darkorange; /*#4393B9;*/
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/*.grid {*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/

.table {
  background-color: #333;
  border-radius: 12px;
  border: #333 3px solid;
}

.table > tbody > tr:hover {
  background-color: darkorange;
  color: #222;
  cursor: pointer;
}
.table > thead > tr {
  background-color: yellowgreen;
  color: #222;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: #444;
}


/*case('primary'): line_c='#285e8e'; background_c='#3276b1'; text_c='#fff'; break;*/
/*case('success'): line_c='#398439'; background_c='#47a447'; text_c='#fff'; break;*/
/*case('warning'): line_c='#d58512'; background_c='#ed9c28'; text_c='#fff'; break;*/
/*case('danger'): line_c='#ac2925'; background_c='#d2322d'; text_c='#fff'; break;*/
.nav-tasks {
  text-transform: uppercase;
  font-size: smaller;
  border: 0;
  margin-bottom: 10px;
}
.nav-tasks > li {
  margin: 0;
}
.nav-tasks > li > a {
  border-radius: 4px;
  padding: 10px;
}
.nav-tasks > li.active > a.primary {
  color:#fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.nav-tasks > li.active > a.success {
  color:#fff;
  background-color: #47a447;
  border-color: #398439;
}
.nav-tasks > li.active > a.warning {
  color:#fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.nav-tasks > li.active > a.danger {
  color:#fff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.row-tasks {
  margin: 0;
}

/*.row-tasks > .col-sm-3 {*/
  /*padding: 0;*/
/*}*/

/*.row-tasks > .col-sm-3.notab {*/
  /*padding: 0 10px;*/
/*}*/
