<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-hide="context.targets.length || context.idle">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <alert class="alert alert-info aslink page-message" ng-click="newT()">
        <strong>Nessun obiettivo definito</strong>
        <p>clicca qui per crearne uno nuovo.</p>
      </alert>
    </div>
  </div>
</div>
<div ng-show="context.targets.length && !context.idle">
  <page-bar ng-model="buttons"></page-bar>
  <div class="container targets-container">
    <target ng-repeat="target in context.targets" ng-model="target" amonalies="amonalies"></target>
  </div>
</div>
<waiting ng-show="context.idle"></waiting>
