.tasks-container {
  background-color: #333;
  border-radius: 12px;
  padding: 8px;
  border: #222 1px solid;
  min-height: 148px;
}
.tasks-title {
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: -8px -8px 8px -8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tasks-title.notab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
