.tasks-container {

}
.tasks-title {
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
}

.tasks-title.notab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
