<div class="tasks-title" ng-class="{'notab':showtitle, 'btn-danger':tasks.style=='danger', 'btn-warning':tasks.style=='warning', 'btn-primary':tasks.style=='primary', 'btn-success':tasks.style=='success'}">
  {{showtitle ? tasks.title : ''}}
  <div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="cerca..." aria-describedby="..." ng-model="searchtext">
    <span class="input-group-addon">{{filtered.length}}</span>
  </div>
</div>
<!--<div ng-show="dragging" data-drop="true" data-jqyoui-options jqyoui-droppable></div>-->
<task ng-repeat="a in filtered = (amonalies | filter: { state:tasks.filter } | filter:searchtext)"
      data-drag="true" jqyoui-draggable="{animate:true, onStart:'startCallback(a)'}" data-jqyoui-options="{revert: 'invalid'}"
      ng-model="a"></task>
