<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="page-bar">
    <span class="fa fa-bookmark aslink page-bar-button" ng-click="goToday()"></span>
  </div>
</div>
<div class="gantt-title" ng-hide="waiting">
  <span class="gantt-navigator glyphicon glyphicon-chevron-left" ng-click="moveDate(false)"></span>
  <div class="gantt-title-content">
    <h2>{{getMonth()}}</h2>
    <p>{{getYear()}}</p>
  </div>
  <span class="gantt-navigator glyphicon glyphicon-chevron-right" ng-click="moveDate(true)"></span>
</div>
<div class="gantt-container" ng-hide="waiting">
  <table class="table table-condensed table-users">
    <thead>
      <tr>
        <th>Chi</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in context.users" ng-class-odd="'row-odd'" ng-class-even="'row-even'">
        <th>{{u}}</th>
      </tr>
    </tbody>
  </table>
  <div id="gcontainer" class="gantt-scrollable-container">
    <div class="task-element" ng-repeat="t in context.tasks" ng-class="'btn-'+t.style" ng-style="getTaskStyle(t)" title="{{t.a.app}}" ng-click="openTask(t)">{{t.a.code}}</div>
    <div class="gantt-today" ng-style="getTodayStyle()" ng-show="today"></div>
    <canvas id="gantt-canvas" width="600"></canvas>
  </div>
</div>
<waiting ng-show="waiting"></waiting>
